body {
    font-family: 'Roboto', sans-serif;   
    justify-content: center;
    font-weight: 300;
    margin: 0;
}

#scoreKeeper{
    border: 1px solid #999999;
    border-radius: 5px;
    max-width: 480px;
    margin: 20px auto;
}


.image {
    max-width: 480px;
    border-start-end-radius: 5px;
}

#scoreKeeper h2 {
    padding: 10px 10px;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #999999;
}

.lose {
    color: red;
}

.win {
    color: greenyellow;
}

#score {
    display: block;
    font-size: 36px;
    padding: 10px 10px 10px 10px;
}

.instructions {
    padding: 0 10px 10px 10px;
    margin: 0;

}

.select {
    padding: 5px 10px;
    font-weight: 500;
}

.select span {
    margin-left: 5px;
    color: #999999;
    font-weight: 300;
}


.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;

}

.buttonGroup button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
}

#addp1{
    background-color: #6e83e1;
}

#addp1:hover{
    background-color: #99a6df;
}

#addp1:disabled{
    background-color: #99a6df;
    cursor: default;
}

#addp2 {
    background-color: #FF8C42;
}

#addp2:hover{
    background-color: #f2a575;
}

#addp2:disabled{
    background-color: #f2a575;
    cursor: default;
}

#reset, #resetWins {
    background-color: #F22B29;
}

#reset:hover, #resetWins:hover{
    background-color: #f26462;
}

#winsKeeper {
    border: 1px solid #999999;
    border-radius: 5px;
    max-width: 480px;
    margin: 20px auto;
    text-align: center;
}

#winsKeeper h2 {
    border-bottom: 1px solid #999999;
    margin: 0;
    padding: 20px;

}

#playerWins div {
    display: inline-block;
    margin: 10px 50px;
}

#playerWins p {
    font-size: 60px;
    margin: 30px;
}

#playerWins button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
}